@model СryptProviderAsp.ViewModels.EncodeViewModel
@{
    ViewData["Title"] = "Кодирование сообщения";
}
<div class="row">
    <div class="col-md-2 col-lg-2">
    </div>
    <div class="col-md-8 col-lg-8">
        <div>
            <h1>Текст после кодирования</h1>
            @Html.TextArea("text-form", @Model.Text, 10, 15, new { @class = "text-form", onchange="return changeStep()"})
        </div>
        <div class="row">
            <div class="col-md-7 col-lg-7">

                @using (Html.BeginForm("UploadEncode", "Home", FormMethod.Post,
                     new { enctype = "multipart/form-data", onsubmit = "return uploadValidat()" }))
                {
                    <div class="form-group has-feedback">
                        <h3>Выберите файл для загрузки</h3>
                        <input type="file" class="has-success" id="uploadedFile" name="uploadedFile" accept=".txt, .docx" /><br>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="submit" value="Загрузить" class="btn btn-primary" />
                    </div>
                }
            </div>
            <div class="col-md-5 col-lg-5">
                <div>
                    @using (Html.BeginForm("DownloadEncode", "Home", FormMethod.Post,
                       new { onsubmit = "return downloadValidat()" }))
                    {
                        <div class="form-group has-feedback">
                            <h5>Введите желаемое имя файла с расширением .docx или .txt</h5>
                            <input type="text" name="filename" id="filename-field" value="" />
                        </div>
                        <div class="form-group has-feedback">
                            <input type="submit" value="Скачать файл" class="btn btn-primary" />
                        </div>
                    }
                </div>
                <div class="row">
                    <h4>Задайте шаг сдвига:</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="button" class="button btn-default" id="left-step"
                                   name="left" value="<" onclick="return leftStep('Encode')"/>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="shifter" readonly="readonly" name="shifter" value="@Model.Step" />
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="button btn-default" id="right-step"
                                   name="right" value=">" onclick="return rightStep('Encode')"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-lg-8">
                            <h4>Левый сдвиг:</h4>
                        </div>
                        <div class="col-md-4 col-lg-4" style="padding:5px">
                            <input type="checkbox" onclick="return changeRotation('Encode')" value="off"
                                   id="cbx" style="margin-top:8px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div id="error"><p style="color:red">@Model.Status</p></div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2">
    </div>
    <script>
        function changeStep() {
            $("#shifter").val(0);
            $("#cbx").val("off");
        }
    </script>
</div>
