@{
    ViewData["Title"] = "Стартовая страница";
}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="center-block">
            <h3>Начало работы</h3>
        </div>
        <div class="center-block">
            <h4 style="font-size:20px;">
                Для начала работы перейдите во вкладку "Кодирование сообщения" или "Декодирование сообщения"
            </h4>
        </div>
        <div class="center-block">
            <a href="https://bitbucket.org/Zero98/cryptproviderasp/src/master/README.md" 
               style="font-size:20px;">
            Для подробной информации
            </a>
        </div>
    </div>
</div>
