﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#text-form{
    width: 700px;
    height: 500px;
    padding: 10px;
    border: #5e5e5e 1px solid;
}

.error-msg {
    color: red;
}

#left-step {
    width: 40px;
    height: 40px;
    font-size: 20px;
    align-content:center;
}

#right-step {
    width: 40px;
    height: 40px;
    font-size: 20px;
    align-content: center;
}

#shifter {
    width: 150px;
    height: 40px;
    font-size: 20px;
    margin: 0px 15px 0px 0px;
}